@media (min-width:320px) {
    .pg-2-S2-main-head{
        font-size: 20px;
    }

    .pg-2-S2-main-para{
        font-size: 10px;
    }

    .pg-2-S2-content1 svg{
        width: 13px;
        height: 13px;
    }
}

@media (min-width:576px) {
    .pg-2-S2-main-head{
        font-size: 24px;
    }

    .pg-2-S2-main-para{
        font-size: 10px;
    }
    
    .arrow {
        left: 100%;
    }

    .mt-128{
        margin-top: 80px;
    }

    :root {
        --fs-smallest: 8px;
        --fs-s4: 11px;
        --fs-s3: 16px;
        --fs-s2: 15px;
        --fs-s1: 16px;
        --fs-m1: 18px;
        --fs-m2: 28px;
        --fs-l1: 34px;
        --fs-l2: 37px;
        --fs-l3: 35px;
        --fs-l4: 32px;
        --fs-largest: 72px;
        --fs-small: 13px;
        --fs-button: 13px;
        --fs-hero-para: 19px;
    }

    .S5-box-btn-padding {
        padding: 12px 44px;
    }

    .input-box {
        width: calc(100%);
    }

    .input-btn {
        padding: 11px 16px;
    }

    .pg-2-main-head {
        line-height: 80px; 
    }

    .pg-2-S2-content1 svg{
        width: 15px;
        height: 15px;
    }
}

@media (min-width:768px) {
    .arrow {
        left: 90%;
    }

    :root {
        --fs-smallest: 10px;
        --fs-s4: 11px;
        --fs-s3: 13px;
        --fs-s2: 15px;
        --fs-s1: 16px;
        --fs-m1: 18px;
        --fs-m2: 28px;
        --fs-l1: 28px;
        --fs-l2: 37px;
        --fs-l3: 38px;
        --fs-l4: 34px;
        --fs-largest: 94px;
        --fs-small: 13px;
        --fs-button: 13px;
        --fs-hero-para: 21px;
    }

    .pg-2-S2-main-para{
        font-size: 15px;
    }

    .pg-2-S2-main-head{
        font-size: 34px;
    }

    .S5-box-btn-padding {
        padding: 8px 20px;
    }

    .input-box {
        width: 300px;
    }

    .input-btn {
        padding: 11px 16px;
    }

    .footer-grey-box {
        height: 20px;
    }

    .pg-2-main-head {
        line-height: 96px;
    }

    .pg-2-S2-content1 svg{
        width: 20px;
        height: 20px;
    }

    .arrow svg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:992px) {
    .arrow {
        left: 125%;
    }

    :root {
        --fs-smallest: 11px;
        --fs-s4: 12px;
        --fs-s3: 17px;
        --fs-s2: 18px;
        --fs-s1: 19px;
        --fs-m1: 20px;
        --fs-m2: 32px;
        --fs-l1: 36px;
        --fs-l2: 37px;
        --fs-l3: 38px;
        --fs-l4: 39px;
        --fs-largest: 94px;
        --fs-small: 16px;
        --fs-button: 15px;
        --fs-hero-para: 21px;
    }

    .pg-2-S2-main-head{
        font-size: 39px;
    }

    .pg-2-S2-main-para{
        font-size: 18px;
    }

    .pt-22 {
        padding-top: 22px;
    }

    .S5-box-btn-padding {
        padding: 12px 44px;
    }

    .input-btn {
        padding: 13px 21px;
    }

    .input-box {
        width: 400px;
    }

    .footer-grey-box {
        height: 18px;
    }
    .pg-2-S2-content1 svg{
        width: 27px;
        height: 26px;
    }

    .arrow svg {
        width: 27px;
        height: 26px;
    }
}

@media (min-width:1200px) {
    .arrow {
        left: 150%;
    }
}