@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: Helvetica;
    src: url(../font/Helvetica.ttf);
}

* {
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

:root{
    /* FONT STYLE  */
    --font-primary: Helvetica, sans-serif;
    --font-secondary: 'roboto',sans-serif;
    /* FONT COLOR */
    --font-color-secondary: #C4C4C4;
    /* FONT SIZE  */
    --fs-hero-heading: 70px;
    --fs-hero-sub-heading: 68px;
    --fs-hero-para: 21px;
    --fs-button: 15px;
    --fs-section-1-number-1: 101px;
    --fs-section-1-number-2: 106px;
    --fs-section-1-number-3: 110px;
    --fs-section-1-number-description: 16px;
    /* SPACE BETWEEN SECTIONS  */
    --main-header-margin: 105px;
    --section-1-2-margin: 64px;
    --section-2-3-margin: -150px;
    /* PADDING  */
    --nav-padding: 22px 0 18px 0;
    --section-1-padding: 125px;
    --section-2-padding: 250px;
    --tab-right-part: 95px 45px 85px 45px;
    /* PAGE-2-FONT-SIZE  */
    --fs-smallest: 11px;
        --fs-s4: 12px;
        --fs-s3: 17px;
        --fs-s2: 18px;
        --fs-s1: 19px;
        --fs-m1: 20px;
        --fs-m2: 32px;
        --fs-m3: 28px;
        --fs-l1: 36px;
        --fs-l2: 37px;
        --fs-l3: 38px;
        --fs-l4: 39px;
        --fs-l5: 40px;
        --fs-gh: 44px;
        --fs-gp: 22px;
        --fs-largest: 94px;
        --fs-small:16px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #A962FF 0%, #9945FF 100%);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #9945FF 0%, #A962FF 100%);
}

