@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

html, body{
    font-weight: 400;
}

:root{
    /* FONT STYLE  */
    --font-primary: 'helvetica', sans-serif;
    --font-secondary: 'roboto',sans-serif;
    /* FONT SIZE  */
    --fs-hero-heading: 70px;
    --fs-hero-sub-heading: 68px;
    --fs-hero-para: 21px;
    --fs-button: 15px;
}