@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;600&display=swap');

@font-face {
    font-family: Helvetica;
    src: url('../font/Helvetica.ttf');
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.bg-blue {
    background: var(--s-gradient-2, linear-gradient(260deg, #0047FF -13.37%, #00BCD4 109.53%));
}

.gap-30 {
    gap: 30px;
}

.pink-blur {
    content: '';
    width: 100%;
    height: 642px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    background: rgba(240, 135, 255, 0.30);
    filter: blur(250px);
    z-index: 1 !important;
}

.pg-2-hero-img {
    z-index: 1 !important;
}

.pg-2-main-head {
    max-width: 563px;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-largest);
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.48px;
}

.pg-2-main-para {
    max-width: 390px;
    color: #C4C4C4;
    font-family: Helvetica;
    font-size: var(--fs-hero-para);
    font-style: normal;
    font-weight: 400;
    line-height: 24.336px;
}

.pg-2-hero-btn1 {
    padding: 11px 21px;
    border-radius: 24px;
    background-color: #14F195;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
}

.pg-2-hero-btn2 {
    padding: 11px 21px;
    border-radius: 24px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: black;
}

.header-links {
    color: #848895;
    text-align: center;
    font-family: Helvetica;
    font-size: var(--fs-s3);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    transition: all 200ms linear;
}

.mr-8 {
    margin-right: 8px;
}

.ml-10 {
    margin-left: 10px;
}

.pg-2-S2-main-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-l4);
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}

.pg-2-S2-main-head::before {
    position: absolute;
    content: '17 Chapters';
    padding: 1.5px 12px;
    background-color: #9945FF;
    border-radius: 16px;
    top: -34px;
    left: 0;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-smallest);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.pg-2-S2-main-para {
    max-width: 387px;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.pg-2-S2-content1 {
    top: 35%;
    left: 9%;
}

.pg-2-S2-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-l3);
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.68px;
}

.pg-2-S2-para {
    color: #C4C4C4;
    font-family: Helvetica;
    font-size: var(--fs-m1);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.pg-2-S2-head1::before {
    position: absolute;
    content: '';
    padding: 1px 12px;
    background-color: #9945FF;
    border-radius: 16px;
    top: -34px;
    left: 0;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-smallest);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.pg-2-S2-head1 {
    width: 190px;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
    position: relative;
}

.pg-2-S2-content {
    bottom: 7%;
    left: 5%;
}

.pg-2-S2-img-padding {
    border-radius: 18px;
}

.arrow {
    left: 150%;
}

.chapters1::before {
    content: '14 chapters';
}

.chapters1 {
    position: relative;
}

.chapters2::before {
    content: '12 chapters';
}

.chapters2 {
    position: relative;
}

.chapters3::before {
    content: '1 chapters';
}

.chapters3 {
    position: relative;
}

.chapters4::before {
    content: '3 chapters';
}

.chapters4 {
    position: relative;
}

.chapters5::before {
    content: '167 chapters';
}

.chapters5 {
    position: relative;
}

.chapters6::before {
    content: '8 chapters';
}

.chapters6 {
    position: relative;
}

.black {
    position: relative;
}

.black1 {
    position: relative;
}

.black1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 40%;
    left: 0%;
    bottom: -2%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .96) 87.44%);
    transition: all .2s linear;
    opacity: 1;
    border-radius: 16px;
}

.black::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 40%;
    left: 0%;
    bottom: -2%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .96) 87.44%);
    transition: all .2s linear;
    opacity: 1;
    border-radius: 16px;
}

.grey-box {
    height: 306px;
    background-color: #19161C;
    padding-top: 31px;
    padding-left: 31px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 200ms linear;
}

.grey-box::after {
    position: absolute;
    content: '';
    bottom: -25%;
    left: 10%;
    width: 259px;
    height: 59px;
    border-radius: 259px;
    background: #A962FF;
    filter: blur(40px);
    opacity: 0;
    transition: all 200ms linear;
}

.grey-box-para {
    max-width: 260px;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-small);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.mr-3 {
    margin-right: 16px;
}

.grey-box-head {
    color: #9945FF;
    font-family: Helvetica;
    font-size: var(--fs-s4);
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.grey-box-main-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-s1);
    font-style: normal;
    font-weight: 400;
    line-height: 20.16px;
}

.grey-box-l-text {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-smallest);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.pt-22 {
    padding-top: 22px;
}

.pg-2-S3-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.68px;
}

.pg-2-S3-para {
    color: #C4C4C4;
    font-family: Helvetica;
    font-size: var(--fs-m1);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.pt-76 {
    padding-top: 76px;
}

.S4-bg-black {
    background: linear-gradient(180deg, #19161C 0%, #000 100%);
}

.pg-2-S4-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.68px;
}

.pg-2-S4-para {
    color: #C4C4C4;
    font-family: Helvetica;
    font-size: var(--fs-m1);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.grey-line {
    position: relative;
}

.grey-line::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    background: rgba(255, 255, 255, 0.50);
    left: 12px;
    top: 77px;
}

.pg-2-S4-box-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-m2);
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
}

.pg-2-S4-box-para {
    max-width: 393.547px;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-m1);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.pg-2-S4-box-btn {
    padding: 13px 21px;
    border-radius: 24px;
    border: 1px solid white;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.S4-box-para-w {
    max-width: 503px;
}

.pg-2-S4-box2-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-l4);
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.pg-2-S4-box2-para {
    max-width: 505px;
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-m1);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.mt-128 {
    margin-top: 128px;
}

.S3-view-all-btn {
    padding: 13px 21px;
    border-radius: 24px;
    border: 1px solid white;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.pg-2-S4-box2-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding: 4px 25px;
}

.pb-110 {
    padding-bottom: 110px;
}

.S5-grey-box {
    background-color: #19161C;
    padding: 53px 53px 46px 54px;
    border-radius: 14px;
    height: 100%;
}

.pg-2-S5-box-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px;
}

.pg-2-S5-box-para {
    max-width: 400px;
    color: #C4C4C4;
    font-family: Helvetica;
    font-size: var(--fs-s3);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.input-box {
    padding: 10px;
    width: 400px;
    background-color: #0A0A0A;
    border-radius: 800px;
}

.input-email {
    width: calc(100%);
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
}

.input-btn {
    padding: 13px 21px;
    background-color: #14F195;
    border-radius: 800px;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    white-space: nowrap;
}

::placeholder {
    color: #848895;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
}

.S5-box-btn-padding {
    padding: 12px 44px;
}

.mr-22 {
    margin-right: 22px;
}

.S5-box-btn {
    border: 1px solid white;
    border-radius: 24px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    background-color: transparent;
    white-space: nowrap;
}

.ml-8 {
    margin-left: 8px;
}

.footer-grey-box {
    width: 26px;
    height: 18px;
    background: #848895;
    transition: all 200ms linear;
}

.bg-footer-black {
    background-color: #000508;
}

.footer-grey-round-box {
    width: 26px;
    height: 18px;
    background: #848895;
    border-radius: 16px;
    transition: all 200ms linear;
}

.footer-grey-round-box:hover {
    background-color: #fff;
}

.footer-grey-box:hover {
    background-color: #fff;
}

.footer-text {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.footer-l-text {
    color: #848895;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.footer-links-head {
    color: #FFF;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.72px;
    /* 117% */
    text-transform: uppercase;
}

.footer-links {
    color: #848895;
    font-family: Helvetica;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    transition: all 200ms linear;
}

.footer-lang {
    color: #848895;
    text-align: center;
    font-family: Helvetica;
    font-size: var(--fs-button);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

button {
    transition: all 200ms linear;
}

button:hover {
    transform: translateY(-3px);
    background-color: #fff;
}

.pg-2-hero-btn2:hover,
.pg-2-S4-box-btn:hover,
.pg-2-S4-box2-btn:hover,
.S5-box-btn:hover {
    color: black;
}

.pg-2-hero-btn2:hover svg path {
    fill: black;
    stroke: transparent;
}

.pg-2-S4-box-btn:hover svg>path,
.pg-2-S4-box2-btn:hover svg>path {
    stroke: black;
}

.grey-box:hover::after {
    opacity: 1;
}

.grey-box:hover {
    border-bottom: 1px solid #A962FF;
}

.black:hover::after {
    opacity: 0;
}

.black1:hover::after {
    opacity: 0;
}

.header-links:hover {
    color: white;
}

.arrow:hover svg {
    rotate: 180deg !important;
}

.footer-links:hover {
    color: white;
}

.boxes-none {
    display: none;
}

.to-top::before {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    content: '';
    background-color: #9945FF;
    filter: blur(5px);
    position: absolute;
    z-index: 4;
    opacity: 0;
    transition: all 300ms linear;
}

.to-top {
    right: 32px;
    bottom: 32px;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 300ms linear;
    color: #9945FF;
    background-color: #19161C;
    border: 1px solid transparent;
    z-index: 4;
}

.to-top:hover {
    border: 1px solid #9945FF;
}

.to-top:hover::before {
    opacity: 0.13;
}

.S3-view-all-btn:hover {
    color: black;
    background-color: #fff;
}


